.messagePage{
    width: 82vw;
}

.chatHeader{
    display: flex;
    border-top: 3px solid #F0F2F5;
    border-bottom: 3px solid #F0F2F5;
    height: 11vh;
    box-sizing: border-box;
    align-items: center;
}

.chatHeaderImg {
    padding-left: 30px;
    height: 7vh;
}

.chatHeader h1{
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 30.26px;
    text-align: left;
}

.messageArea{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.messageSubmit{
    border-top: 3px solid #F0F2F5;
    display: flex;
    height: 7vh;
    box-sizing: border-box;
}

#inputMessage{
    width: 100%;
    border: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 2vh;
    resize: none;
    padding-left: 2px;
    outline: none;
}

#sendButton{
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

#sendButton:hover{
    border: 1px solid black;
}

.submitButtonIcon {
    height: 60%;
    stroke: black;
}

#addChatHeader{
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 30.26px;
    text-align: left;
}

.addUserList{
    overflow-y: hidden;
}
