.messageBarUser{
    display: flex;
    border: 2px solid white;
    align-items: center;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.messageBarUser:hover{
    cursor: pointer;
    border: 2px solid black;
}

.selected{
    border: 2px solid black;
    cursor: context-menu !important;
}

#messageBarUserName{
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    text-align: center;
    margin-left: 15px;
}

.messageBarUserImg {
    height: 9vh;
}