.userbar {
    /*width: 18vw;*/
    width: 300px;
    border-top: 3px solid #F0F2F5;
    border-right: 3px solid #F0F2F5;
}

#addChatHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc((100vh - 144px) * .125);
}

#addChatText {
    display: none;
}

@media screen and (min-width: 1000px) {
    #addChatText {
        font-family: Inter;
        font-size: 3rem;
        font-weight: 800;
        line-height: 60.51px;
        text-align: left;
        display: block;
    }
}

#addChatButton {
    gap: 0px;
    border-radius: 50%;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: white;
    border: 1px solid #F1F3F6;
    box-shadow: 0px 2px 4px 0px #00000040;
    padding: 0.5rem;
}

    #addChatButton:hover {
        cursor: pointer;
    }

#messageBarUserList {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: calc((100vh - 144px) * .87);
}

#addChatImg {
    height: 2.25rem;
}