.userbar{
    width: 18vw;
    border-top: 3px solid #F0F2F5;
    border-right: 3px solid #F0F2F5;
}

#addChatHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#addChatText {
    display: none;
}

@media screen and (min-width: 1000px) {
    #addChatText {
        font-family: Inter;
        font-size: 3rem;
        font-weight: 800;
        line-height: 60.51px;
        text-align: left;
        display: block;
    }
}

#addChatButton {
    gap: 0px;
    border-radius: 50%;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #f1f4ff;
    border: 1px solid #F1F3F6;
    box-shadow: 0px 2px 4px 0px #00000040;
}

    #addChatButton:hover {
        cursor: pointer;
    }

#messageBarUserList {
    overflow-y: auto;
}

#addChatImg {
    height: 5vh;
    max-height: 60px;
    padding: 2px;
}