#header-bar {
  width: 100%;
  background-color: rgb(255 255 255 / 1);
}

.header-sticky {
  position: fixed;
  top: 0;
}

.listing-cards-container-sticky {
  margin-top: 17.85rem;
}

.listing-cards-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  column-gap: 1.5rem;
  row-gap: 2.5rem;
  padding: 1rem 2rem;
}

.params-container {
  display: grid;
}

.filter-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media screen and (min-width: 640px) {
  .listing-cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .params-container {
    grid-template-columns: 80% 20%;
  }

  .filter-btn-container {
    padding: 2rem 2rem 2rem 0;
  }
}

@media screen and (min-width: 768px) {
  .listing-cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .listing-cards-container {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .filter-btn-container {
    padding: 2rem 3rem;
  }
}

